doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
    footer
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='javascripts/src-min/ace.js', type='text/javascript', charset='utf-8')
      script(src='javascripts/esprima.js', type='text/javascript')
      script(src='javascripts/testing.js', type='text/javascript')
